#container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0 16px;

    #labelContainer {
        padding-top: 36px;
    }

    #description{
        font-size: 28px;
        text-align: justify;
    }

    #artContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 36px;
        width: 100%;
        margin-top: 18px;

        .art {
            width: 30%;
            outline: 1px solid;
            box-sizing: border-box;
            padding: 8px;
            transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);

            .title{
                font-size: 24px;
            }

            .description{
                font-size: 18px;
                color: rgb(114, 114, 114);
            }

            &:hover{
                background-color: rgb(136, 136, 136);
                cursor: pointer;

                .title{
                    color: rgb(255, 255, 255);
                }
    
                .description{
                    font-size: 18px;
                    color: rgb(219, 219, 219);
                }
            }
        }
    }
}

#label {
    width: 100%;
    font-size: 5rem;
}

a {
    text-decoration: underline;
    color: black;
    font-size: 18px;
}

@media (max-width: 800px) {
    #artContainer {
        .art {
            width: 100% !important;
        }
    }
}
