<div id="container">

    <div id="description">
        
        <div id="title">Code</div>
        <div id="text">
            Write a code in Javascript and
            download the shareable
            image in PNG format.
        </div>

    </div>

    <div id="codeContainer">

        <div id="codeArea">
            <ngx-codemirror [(ngModel)]="code" [options]="options"></ngx-codemirror>
        </div>

        <div id="btnContainer">
            <button id="btnDownload" (click)="download()">Download</button>
        </div>

    </div>



</div>